html, body {
	height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    font-family: Verdana, Arial, sans-serif;
    min-width: 1250px;
}

/* remove ugly dotted lines around clicked links and buttons in FF */
a { outline: none; }
button::-moz-focus-inner { border: 0; }

/* remove highlight border around selected form controls in Chrome and Safari */
*:focus { outline: none; }

#unsupported {
    display: none;
}

a {
    color: #24CC00;
    text-decoration: none;
}

h1 {
    color: #FFA900;
    font-weight: normal;
    margin: 5px 0;
    font-size: 35px;
}

h3 {
    color: #C1C1C1;
    font-size: 28px;
    font-weight: normal;
    margin: 10px 30px 18px;
}

.clear {
	clear: both;
}

.red {
    color: #F80000;
}

.small {
    font-size: 13px;
}

#top {
    position: relative;
}

#warning {
    color: #F80000;
    font-size: 14px;
    padding: 5px 0 7px 70px;
    display: none;
}


#warning span {
    color: #000000;
    font-size: 12px;
}

#left {
    /*
    background pattern by Haris Šumić - http://subtlepatterns.com/subtle-grey/
    under CC BY-SA 3.0 license - http://creativecommons.org/licenses/by-sa/3.0/
    */
	background: url("../img/grey.png") repeat scroll 0 0 #F7F7F7;
    box-shadow: 0 0 12px #3C3C3C;
    float: left;
    min-height: 100%;
    position: relative;
    width: 1000px;
}

#content_wrapper {
	background-color: #FFFFFF;
    border-bottom: 1px solid #E3E3E3;
    height: 500px;
    overflow: auto;
    position: relative;
    resize: vertical;
}

#backhome {
    position: absolute;
    padding: 18px;
    font-size: 20px;
    color: silver;
    cursor: pointer;
    left: 0;
    top: 0;
}

#explanation {
    color: #4B4B4B;
    padding: 40px 70px 0;
}

#explanation a {
    color: #D54600;
}

#explanation h2 {
    float: left;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 20px;
}

#explanation h2.main {
    color: #696969;
    padding-right: 10px;
}

#explanation h2.beta {
    color: #CCCCCC;
}

#explanation p {
    font-size: 14px;
    line-height: 26px;
}

#explanation p.smaller {
    font-size: 12px;
}

#call {
    /*background: url("../img/bg.png") repeat scroll 0 0 #FFFFFF;*/
}

#tryitnow {
    background-color: #63E000;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 25px;
    height: 30px;
    line-height: 28px;
    margin: 30px 0 25px 30px;
    padding: 10px 20px;
}

/*#forfree {
    color: #24CC00;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 20px;
    margin: 30px 0 10px;
    padding: 5px 20px;
}*/


#forfree {
    color: #24CC00;
    float: left;
    font-size: 25px;
    height: 30px;
    line-height: 28px;
    margin: 30px 0 10px;
    padding: 10px 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 99;
}

#yourown {
    font-size: 12px;
    font-weight: bold;
    padding: 0 30px 15px;
}

#demos {
    background-color: #F4F4F4;
    padding: 20px 0;
    position: fixed;
    width: 860px;
    z-index: 999;
}

#more {
    display: none;
}

#closedemos {
    color: #C0C0C0;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
}

.scrollable {
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    height: 500px;
    overflow-y: scroll;
    padding: 20px 30px;
}

.language {
    color: #C0C0C0;
    font-size: 25px;
    line-height: 24px;
    padding: 15px 10px;
}

.flagbox {
    float: left;
    height: 24px;
    margin-right: 30px;
    width: 24px;
}

.demo {
    border-bottom: 1px solid #F2F2F2;
    color: #D54600;
    cursor: pointer;
    font-size: 12px;
    margin: 0 4px 4px 0;
    padding: 4px 10px;
}

.demo .by {
    display: block;
    float: left;
    font-style: italic;
    padding-right: 20px;
    text-align: right;
    width: 160px;
}

.gap {
    height: 15px;
    width: 100%;
}

.others {
    font-size: 13px;
    margin: 0;
    padding: 15px 30px 0;
}

#content {
	background-color: #FFFFFF;
    font-family: Times,serif;
    font-size: 22px;
    line-height: 32px;
    padding: 30px 70px;
    text-align: justify;
    display: none;
}

#translation_wrapper {
	min-height: 60px;
}

#translations {
	padding: 0 20px;
    display: none;
}

#selection {
	display: none;
}

#selectedword {
	background-color: #029100;
    color: #FFFFFF;
    float: left;
    height: 20px;
    padding: 5px 8px;
}

#arrowright {
	border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-left: 15px solid #029100;
    border-top: 15px solid rgba(0, 0, 0, 0);
    float: left;
    height: 0;
    width: 0;
    margin-right: 5px;
}

#translatedword {
	background-color: #FF4C00;
    color: #FFFFFF;
    float: left;
    height: 20px;
    padding: 5px 8px;
}

.failed {
	color: red;
    font-weight: bold;
}

#previous_translated_words_wrapper {
    padding: 0 22px;
    position: relative;
    font-size: 13px;
    color: #FF4C00;
}

#previous_translated_words_wrapper p {
    line-height: 20px;
    margin: 0 0 8px;
}

#previous_translated_words span {
	color: green;
}

#remove_words {
	color: #CCCCCC;
    cursor: pointer;
    font-size: 28px;
    margin-top: 15px;
    padding: 5px 0px;
    text-align: center;
    width: 30px;
}

#remove_words span {
    font-size: 24px;
}

#quota_used_wrapper {
	color: #B5B5B5;
    font-size: 12px;
    padding: 10px 0 30px 20px;
}

#quota_used {
    color: gray;
}


#right {
	position: absolute;
    max-width: 500px;
    min-width: 235px;
    padding-left: 10px;
    left: 1000px;
    top: 0;
}

#translated_words {
    display: none;
}

#donate2 {
    background-color: #F5F5F5;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    margin: 30px 25px;
    padding: 10px 10px 20px 20px;
}

#donate2 h4 {
    color: #6A6A6A;
    font-size: 12px;
    margin: 0 0 15px;
    padding: 0;
}


#middle {
    position: relative;
    padding-bottom: 50px;
}

.open_file {
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    box-shadow: 0 0 6px #DEDEDE;
    color: #565656;
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;
    margin: 26px 0 4px;
    padding: 15px;
    text-align: center;
    width: 75px;
}

.filetypes {
    font-size: 12px;
    padding-left: 5px;
}

.column {
    min-width: 200px;
    float: left;
    width: 33%;
}

#buttons {
    padding: 15px 20px 20px 0;
}

.btn {
    padding-right: 40px;
}

#audio_file {
    float: left;
}

#text_file {
    float: right;
}

#player {
	height: 140px;
    margin: 25px 25px 5px;
    position: relative;
    width: 180px;
}

.circle_bg {
    background-color: #FFFFFF;
    border-radius: 60px;
    box-shadow: 0 0 6px #C6C6C6;
    height: 40px;
    left: 35px;
    padding: 30px;
    position: absolute;
    top: 10px;
    width: 40px;
}

.circle {
	background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    cursor: pointer;
    font-size: 28px;
    height: 28px;
    left: 45px;
    padding: 22px 24px 28px 26px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 28px;
    color: #AEAEAE;
}

#knob {
	height: 130px;
    left: 35px;
    position: absolute;
    top: 10px;
}

.jumpback {
	background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 60px;
    box-shadow: 0 0 6px #DEDEDE;
    color: #565656;
    cursor: pointer;
    font-size: 14px;
    height: 60px;
    left: 185px;
    line-height: 60px;
    padding: 15px;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 60px;
}

#settings {
    font-size: 14px;
    padding: 25px 10px 20px;
}

#settings select {
    margin-bottom: 10px;
    padding: 2px;
    width: 160px;
}

.spacer {
    display: block;
    float: left;
    line-height: 30px;
    width: 40px;
}

#locally {
    padding: 0 60px 0 0;
    text-align: center;
}

#bottom {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E3E3E3;
    border-top: 1px solid #E3E3E3;
    font-size: 14px;
    margin: 30px 0 0;
    min-height: 400px;
    padding: 20px 70px;
}

#tips {
    padding-bottom: 15px;
}

#share {
    height: 24px;
    padding: 20px 30px 0;
}

.share {
    float: right;
    height: 25px;
    padding: 0;
    width: 110px;
    overflow: hidden;
}

.r {
    font-style: italic;
}

#support {
    color: #3E3E3E;
    font-size: 13px;
    line-height: 25px;
    padding: 0 0 30px;
}

#donate1 {
    height: 54px;
    position: relative;
}

#donate1 #txt {
    padding: 0;
}

#donate1 #btc {
    background-color: #FFA900;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    line-height: 25px;
    padding: 0 0 0 5px;
}


#donate1 #arrow {
    border-bottom: 12px solid rgba(0, 0, 0, 0);
    border-left: 13px solid #FFA900;
    border-top: 12px solid rgba(0, 0, 0, 0);
    float: left;
    height: 0;
    margin-right: 7px;
    width: 0;
}

#donate1 .btc {
    float: left;
    padding-right: 5px;
}


#donate1 #qr {
    color: #FF6500;
    cursor: pointer;
    float: left;
    padding-right: 5px;
}

#qrimage {
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #C0C0C0;
    bottom: 30px;
    height: 198px;
    padding: 5px;
    position: absolute;
    right: 150px;
    width: 198px;
}

#crawlingout {
    color: #9C9C9C;
    font-size: 12px;
    padding: 30px 70px;
    text-align: right;
}

#crawlingout a {
    color: #696969;
    text-decoration: none;
}

/* flags */

.flag {
    display: block;
}

/* united_kingdom */
.gb {
 background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNjAgMzAiIGhlaWdodD0iNjAwIj4NCjxkZWZzPg0KPGNsaXBQYXRoIGlkPSJ0Ij4NCjxwYXRoIGQ9Im0zMCwxNWgzMHYxNXp2MTVoLTMwemgtMzB2LTE1enYtMTVoMzB6Ii8+DQo8L2NsaXBQYXRoPg0KPC9kZWZzPg0KPHBhdGggZmlsbD0iIzAwMjQ3ZCIgZD0ibTAsMHYzMGg2MHYtMzB6Ii8+DQo8cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iNiIgZD0ibTAsMGw2MCwzMG0wLTMwbC02MCwzMCIvPg0KPHBhdGggc3Ryb2tlPSIjY2YxNDJiIiBzdHJva2Utd2lkdGg9IjQiIGQ9Im0wLDBsNjAsMzBtMC0zMGwtNjAsMzAiIGNsaXAtcGF0aD0idXJsKCN0KSIvPg0KPHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEwIiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjxwYXRoIHN0cm9rZT0iI2NmMTQyYiIgc3Ryb2tlLXdpZHRoPSI2IiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjwvc3ZnPg0K');
 width: 150%;
 height: 100%;
 background-size: 100% 100%;
}
/* czech_republic */
.cz {
 background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNjAwIiB2aWV3Qm94PSIwIDAgNiA0Ij4NCjxwYXRoIGZpbGw9IiNkNzE0MWEiIGQ9Im0wLDBoNnY0aC02eiIvPg0KPHBhdGggZmlsbD0iI2ZmZiIgZD0ibTAsMGg2djJoLTZ6Ii8+DQo8cGF0aCBmaWxsPSIjMTE0NTdlIiBkPSJtMywybC0zLTJ2NHoiLz4NCjwvc3ZnPg0K');
 width: 150%;
 height: 100%;
 background-size: 100% 100%;
}
/* germany */
.de {
 background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjYwMCIgdmlld0JveD0iMCAwIDUgMyI+DQo8cGF0aCBkPSJtMCwwaDV2M2gtNXoiLz4NCjxwYXRoIGZpbGw9IiNkMDAiIGQ9Im0wLDFoNXYyaC01eiIvPg0KPHBhdGggZmlsbD0iI2ZmY2UwMCIgZD0ibTAsMmg1djFoLTV6Ii8+DQo8L3N2Zz4NCg==');
 width: 166.66666666667%;
 height: 100%;
 background-size: 100% 100%;
}



/*#jumpback span {
	font-size: 18px;
}*/

.debug {
	padding: 15px 15px 15px 20px;
	color: gray;
}