html, body {
    background-color: #f9f9f9;
    font-family: Arial,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 350px;
}

/* remove ugly dotted lines around clicked links and buttons in FF */
button::-moz-focus-inner { border: 0; }

/* remove highlight border around selected controls in Chrome and Safari */
* {
    outline: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

#unsupported {
    display: none;
}

img {
    border: none;
}

a {
    color: #4ba3d9;
    text-decoration: none;
}

.pseudolink {
    color: #4ba3d9;
    cursor: pointer;
}

.hidden {
    display: none;
}

.left {
    float: left;
}

h3 {
    color: #c1c1c1;
    font-size: 28px;
    font-weight: normal;
    line-height: 38px;
    margin: 25px 0;
}

h3 i {
    color: #21b51f;
}

ul {
    padding: 1px 10px;
}

li {
    list-style-type: square;
}

.clear {
    clear: both;
}

.small {
    font-size: 13px;
}

#left {
    position: relative;
    width: 1000px;
}

#content_wrapper {
    background-color: #FFFFFF;
    box-shadow: 0 10px 10px 0 #999999;
    height: 400px;
    min-height: 80px;
    overflow: auto;
    position: relative;
    resize: vertical;
}

#backhome {
    color: #4ba3d9;
    cursor: pointer;
    font-size: 22px;
    left: 8px;
    line-height: 20px;
    margin: 18px;
    position: absolute;
    text-align: center;
    top: 8px;
    width: 20px;
}

.gap {
    height: 15px;
    width: 100%;
}

#content {
    background-color: #FFFFFF;
    font-family: Times, serif;
    font-size: 24px;
    line-height: 36px;
    padding: 30px 70px;
}

#translated_words {
    font-size: 14px;
}

#translations {
    font-size: 16px;
    padding: 0 20px;
}

#whentoolong {
    color: #4a4a4a;
    height: 20px;
    line-height: 20px;
    padding: 5px 20px;;
}

#googletranslate:visited {
    color: #9d9d9d;
}

#selectedword {
    background-color: #21b51f;
    color: #FFFFFF;
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 5px 8px;
}

#translatedword {
    background-color: #4ba3d9;
    color: #FFFFFF;
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 5px 8px;
}

.failed {
    color: red;
    font-weight: bold;
}

#previous_translated_words {
    color: #4ba3d9;
    margin: 0 22px 30px;
    padding: 35px 0 20px;
    position: relative;
}

#previous_translated_words p {
    line-height: 20px;
    margin: 0 0 18px;
}

#previous_translated_words span {
    color: #21b51f;
}

#previous_translated_words em {
    color: #bbbbbb;
}

#right {
    left: 1000px;
    min-width: 235px;
    padding: 50px 0 0 10px;
    position: absolute;
    top: 0;
}

#middle {
    background-color: #f9f9f9;
    box-shadow: 0 10px 10px 0 #999999;
    padding-bottom: 2000px;
    position: relative;
}

.open_file {
    background-color: #ffffff;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    color: #444444;
    cursor: pointer;
    font-size: 13px;
    line-height: 20px;
    margin: 26px 0 10px;
    padding: 10px 15px;
    text-align: center;
    width: 90px;
}

.filetypes {
    font-size: 12px;
    line-height: 14px;
    width: 125px;
}

.column {
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#controls {
    height: 120px;
    margin: 18px 0 0 60px;
    position: relative;
    width: 305px;
}

#progressbar {
    background-image: linear-gradient(bottom, #f9f9f9 50%, #dedede 50%);
    background-image: -webkit-linear-gradient(bottom, #f9f9f9 50%, #dedede 50%);
    background-image: -o-linear-gradient(bottom, #f9f9f9 50%, #dedede 50%);
    background-image: -ms-linear-gradient(bottom, #f9f9f9 50%, #dedede 50%);
    background-image: -moz-linear-gradient(bottom, #f9f9f9 50%, #dedede 50%);
    height: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#progress {
    height: 4px;
    background-color: #4ba3d9;
    width: 0
}

.circle {
    background-color: #ffffff;
    border: 1px solid #c5c5c5;
    border-radius: 60px;
    color: #9c9c9c;
    cursor: pointer;
    position: absolute;
    text-align: center;
}

#jumpback {
    font-size: 22px;
    height: 25px;
    left: 0;
    line-height: 25px;
    padding: 20px;
    top: 28px;
    width: 25px;
}

#play_pause {
    font-size: 24px;
    height: 24px;
    left: 80px;
    line-height: 24px;
    padding: 30px;
    top: 20px;
    width: 24px;
}

#volume {
    color: #9c9c9c;
    height: 40px;
    left: 175px;
    position: absolute;
    top: 40px;
    width: 120px;
}

#vol {
    cursor: pointer;
    float: left;
    font-size: 20px;
    height: 20px;
    padding: 10px 5px 10px 10px;
    width: 20px;
}


/*
DO NOT CHANGE WIDTH - IT IS HARDCODED IN VOLUME CONTROLING CODE!!!
*/
#volbar {
    background-image: linear-gradient(bottom, #f9f9f9 50%, #dedede 50%);
    background-image: -webkit-linear-gradient(bottom, #f9f9f9 50%, #dedede 50%);
    background-image: -o-linear-gradient(bottom, #f9f9f9 50%, #dedede 50%);
    background-image: -ms-linear-gradient(bottom, #f9f9f9 50%, #dedede 50%);
    background-image: -moz-linear-gradient(bottom, #f9f9f9 50%, #dedede 50%);
    bottom: 0;
    float: left;
    height: 10px;
    left: 0;
    margin: 18px 0 0 5px;
    width: 80px;
}

#vol_value {
    height: 4px;
    background-color: #4ba3d9;
    width: 0;
}

#files {
    padding: 0 5px 20px 40px;
    width: 280px;
}

#audio_file {
    float: left;
}

#text_file {
    float: right;
}

#languages {
    font-size: 13px;
    padding: 12px 0 25px 30px;
    width: 210px;
}

#languages select {
    padding: 2px;
    width: 152px;
}

.spacer {
    line-height: 30px;
    margin-bottom: 10px;
    text-align: right;
    max-width: 190px;
}

#bottom {
    background-color: #ffffff;
    font-size: 14px;
    margin: 0;
    padding: 0 0 0 45px;
    position: relative;
    z-index: 100;
}

#menu {
    color: #c9c9c9;
    font-size: 18px;
    text-align: right;
}

#menu span {
    padding-left: 40px;
}

#instructions {
    margin: 30px 90px 0 70px;
}

#r {
    font-style: italic;
}

#support {
    border-top: 1px solid #e3e3e3;
    color: #3c3c3c;
    font-size: 13px;
    line-height: 25px;
    margin: 0 70px 0 25px;
    padding: 50px 0;
    position: relative;
}

#footer {
    border-top: 1px solid #edebeb;
}

#links {
    color: #5f5f5f;
    float: left;
    font-size: 12px;
    line-height: 20px;
    padding: 40px 70px 0;
}

#links a {
    color: #4ba3d9;
    text-decoration: none;
}

#badge {
    float: right;
    padding: 40px 70px;
}



/* tracking */

#tracking {
    border-top: 1px solid #e3e3e3;
    color: #aaaaaa;
    font-size: 13px;
    line-height: 26px;
    margin: 0 0 10px;
    padding: 40px 0 0 25px;
}

#today {
    float: left;
    height: 300px;
    width: 460px;
}

#goal {
    background-color: #f5f5f5;
    height: 150px;
    margin: 100px 0 0 80px;
    position: relative;
    width: 50px;
}

#goal_top {
    height: 80px;
    left: -75px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: -110px;
    width: 200px;
}

#achieved {
    color: #4ba3d9;
    font-size: 22px;
    height: 30px;
}

#daily_goal {
    position: relative;
}

#goal_today {
    color: #bababa;
    font-size: 22px;
}

.goal_setting {
    color: #4ba3d9;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: -1px;
    width: 30px;
}

#minus {
    left: 20px;
}

#plus {
    right: 20px;
}

#listened, #ratio {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #4ba3d9;
}

#listened {
    background-color: #4ba3d9;
}

.chart_label {
    color: #bababa;
    font-size: 20px;
    left: 58px;
    line-height: 22px;
    position: absolute;
    width: 200px;
}

.chart_label.session {
    top: -22px;
}

.chart_label.audio {
    top: 1px;
}

#ratio_label {
    color: #9d9d9d;
    font-size: 15px;
    left: -108px;
    line-height: 24px;
    position: absolute;
    text-align: right;
    top: -22px;
    width: 100px;
}

#ratio_percents {
    font-size: 24px;
}

.color_listening {
    color: #4ba3d9;
}

.color_audio {
    color: #0b7fc6;
}

#ratio {
    background-color: #0b7fc6;
}

#higher_than_ever {
    font-size: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -25px;
    width: 55px;
    color: #ffd300;
}

#tracking h2 {
    color: #cccccc;
    font-size: 22px;
    font-weight: normal;
    margin: 15px 0 20px
}

#total {
    float: left;
    height: 250px;
    margin: 10px 10px 40px 0;
    position: relative;
    width: 280px;
}

.rr {
    color: #cccccc;
    float: left;
    font-size: 22px;
    line-height: 24px;
    padding: 22px 0 0;
    position: relative;
}

.total {
    color: #cccccc;
    font-size: 22px;
    line-height: 24px;
    padding: 20px 0 0;
}

.total span, #record_ratio {
    color: #4ba3d9;
}

.darker {
    color: #9f9f9f;
}

#idle {
    background-color: white;
    border-left: 1px solid #e3e3e3;
    border-radius: 0 20px 0 0;
    border-right: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    color: #d7d7d7;
    font-size: 16px;
    height: 300px;
    left: 0;
    padding: 10px 15px 14px;
    position: absolute;
    text-align: center;
    top: 115px;
    z-index: 99;
}



/* FAQ */

.go_to_faq {
    color: #21b51f;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
}

#faq {
    border-top: 1px solid #e3e3e3;
    margin: 0 70px 0 25px;
    padding: 30px 0 60px;
}

.faq p {
    color: #3c3c3c;
    font-size: 15px;
    line-height: 28px;
}



/* VIDEO */

#video {
    border: 1px solid #989898;
    height: 420px;
    margin-top: 50px;
    position: relative;
    width: 710px;
}

#videocover {
    height: 420px;
    position: absolute;
    width: 710px;
}

#videocover h3 {
    background-color: rgba(52, 52, 52, 0.6);
    color: white;
    display: block;
    font-size: 26px;
    margin: 0;
    padding: 8px 30px;
}

#videostart {
    background-color: rgba(52, 52, 52, 0.6);
    border-radius: 100px;
    color: white;
    cursor: pointer;
    font-size: 40px;
    height: 40px;
    left: 300px;
    line-height: 40px;
    padding: 30px 26px 30px 34px;
    position: absolute;
    text-align: center;
    top: 165px;
    width: 40px;
    z-index: 99;
}

#videoafter {
    background-color: white;
    color: #6a6a6a;
    font-size: 20px;
    left: 2px;
    position: absolute;
    text-align: center;
    top: 130px;
    width: 708px;
}

#videoreplay {
    color: #dddddd;
    font-size: 50px;
    padding-top: 80px;
}

#videoreplay i {
    cursor: pointer;
}

#videothanks {
    color: #9f9f9f;
    font-size: 12px;
    padding: 4px;
    text-align: right;
    width: 700px;
}


/* keyboard shortcuts */

#keyboard_shortcuts {
    color: #9d9d9d;
    font-size: 13px;
    padding: 60px 0 0;
}

.shortcut {
    float: left;
    height: 40px;
}

.key {
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    float: left;
    font-size: 10px;
    height: 12px;
    line-height: 12px;
    margin-right: 10px;
    padding: 6px;
    text-align: center;
    width: 12px;
}

.key_desc {
    float: left;
    padding: 5px;
    margin-right: 40px;
}


#textinstructions {
    display: none;
}

#textinstructions li {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 15px;
}



/* mobile devices */

/* detect CSS breaking points in JS by checking visibility */
#widerthan725px, #lowerthan600px {
    display: none;
    width: 5px;
    height: 5px;
}

/* screen not wide enough */
@media screen and (max-width: 1100px) {

    #right {
        height: 60px;
        left: 0;
        min-width: 235px;
        padding: 15px 0 0 50px;
        position: relative;
    }

    #translations {
        padding: 6px 20px 50px;
    }

    #whentoolong {
        padding: 9px 20px 50px;
    }

    #previous_translated_words {
        display: none;
    }
    
    #left {
        width: 100%;
    }

    #content_wrapper {
        box-shadow: 0 0 8px #999999;
    }

    .popup {
        width: 100%;
    }

    #video {
        display: none;
    }

    #textinstructions {
        display: block;
    }

}

@media screen and (max-width: 950px) {

    #languages {
        padding: 20px 0 20px 70px;
        width: 600px;
    }

    #languages p {
        float: left;
        line-height: 30px;
        margin: 0;
    }

    #languages .spacer {
        float: left;
    }

    #languages select {
        width: 118px;
    }

    #today {
        width: 325px;
    }

    #goal {
        margin: 100px 0 0 60px;
    }

    .mobilehide {
        display: none;
    }

}

@media screen and (max-width: 725px) {

    #widerthan725px {
        display: block;
    }

    #controls {
        margin: 0 20px;
        height: 80px;
    }

    #jumpback, #play_pause {
        background-color: transparent;
        border: none;
    }

    #play_pause {
        left: 75px;
        top: 5px;
        padding: 20px 30px;
    }

    #jumpback {
        top: 8px;
    }

    #volume {
        top: 19px;
    }

    #files {
        margin-right: 40px;
    }

    #languages {
        width: 325px;
    }

    #instructions {
        margin: 20px;
    }

    #content {
        font-size: 16px;
        line-height: 35px;
        padding: 30px 20px 30px 30px;
    }

    #right {
        height: 50px;
        padding: 5px 0 0 10px;
    }

    #idle {
        background-color: transparent;
        border: none;
        padding: 4px 0 4px 10px;
        top: 60px;
    }

    #bottom {
        padding: 0;
    }

    #files, #languages, #links {
        padding-left: 25px;
    }

    #faq, #support {
        margin-right: 25px;
    }

    #backhome {
        margin: 12px;
    }

}

/* screen not high enough */
@media screen and (max-height: 600px) {

    #lowerthan600px {
        display: block;
    }

    #right {
        height: 50px;
        padding: 5px 0 0 10px;
    }

    #controls {
        margin-top: 0;
        height: 80px;
    }

    #jumpback, #play_pause {
        background-color: transparent;
        border: none;
    }

    #play_pause {
        left: 75px;
        top: 5px;
        padding: 22px 30px;
    }

    #jumpback {
        top: 8px;
    }

    #volume {
        top: 19px;
    }

    #idle {
        top: 56px;
    }
}