html, body {
    background-color: #f9f9f9;
    font-family: Arial,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* remove ugly dotted lines around clicked links and buttons in FF */
button::-moz-focus-inner { border: 0; }

/* remove highlight border around selected controls in Chrome and Safari */
* {
    outline: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

#unsupported {
    display: none;
}

a {
    color: #4ba3d9;
    text-decoration: none;
}

.pseudolink {
    color: #4ba3d9;
    cursor: pointer;
}

h1 {
    color: #4ba3d9;
    font-family: arial,sans-serif;
    font-size: 38px;
    font-weight: 300;
    margin: 10px 0 40px;
}

h3 {
    color: #c1c1c1;
    font-size: 28px;
    font-weight: normal;
    margin: 25px 0;
}

ul {
    padding: 10px;
}

li {
    list-style-type: square;
}

.clear {
    clear: both;
}

.small {
    font-size: 13px;
}

#top {
    position: relative;
}

#left {
    box-shadow: 0 0 12px #3C3C3C;
    float: left;
    min-height: 100%;
    position: relative;
    width: 1000px;
}

#content_wrapper {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E3E3E3;
    height: 488px;
    overflow: auto;
    position: relative;
    resize: vertical;
}

#backhome {
    color: silver;
    cursor: pointer;
    font-size: 20px;
    left: 0;
    padding: 18px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
    display: none;
}

#other_languages {
    border-right: 1px dotted silver;
    height: 520px;
    left: -100px;
    line-height: 25px;
    margin: 0;
    padding: 5px 30px 5px 0;
    position: absolute;
    text-align: right;
    top: 65px;
    width: 80px;
}

.other_lang {
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#envelope {
    margin: 0 auto;
    padding: 50px 0 0 130px;
    max-width: 900px;
}

#letter {
    color: #8b8b8b;
    height: 600px;
    padding: 50px;
    position: relative;
}

#letter p {
    font-size: 18px;
    line-height: 35px;
}

#getstarted {
    height: 80px;
    margin: 60px 0 0;
}

#getstarted a {
    background-color: #4ba3d9;
    border-radius: 8px;
    color: white;
    display: block;
    font-size: 28px;
    padding: 10px 0;
    text-align: center;
    width: 200px;
}

#norisk {
    font-size: 14px;
    padding: 15px 5px;
    width: 200px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 99;
}

.popup {
    background-color: #f4f4f4;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 1000px;
    z-index: 999;
}

.popup p.smaller {
    font-size: 12px;
}

#more {
    display: none;
}

.closepopup {
    color: #C0C0C0;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
}

.scrollable {
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    padding: 20px 30px;
}

.demo {
    border-bottom: 1px solid #F2F2F2;
    color: #4ba3d9;
    cursor: pointer;
    font-size: 14px;
    margin: 0 4px 4px 0;
    padding: 10px;
}

.demo .by {
    display: block;
    float: left;
    font-style: italic;
    padding-right: 20px;
    text-align: right;
    width: 180px;
}
.smallgap {
    height: 5px;
    width: 100%;
}


.gap {
    height: 15px;
    width: 100%;
}

#content {
    background-color: #FFFFFF;
    font-family: Times, serif;
    font-size: 24px;
    line-height: 36px;
    padding: 30px 70px;
    display: none;
}

#translation_wrapper {
    min-height: 60px;
}

#translations {
    padding: 0 20px;
    display: none;
}

#whentoolong {
    display: none;
    height: 20px;
    padding: 5px 20px;
    line-height: 20px;
    font-size: 13px;
}

#selectedword {
    background-color: #21b51f;
    color: #FFFFFF;
    float: left;
    height: 20px;
    padding: 5px 8px;
}

#translatedword {
    background-color: #4ba3d9;
    color: #FFFFFF;
    float: left;
    height: 20px;
    padding: 5px 8px;
}

.failed {
    color: red;
    font-weight: bold;
}

#previous_translated_words_wrapper {
    padding: 5px 22px;
    position: relative;
    font-size: 13px;
    color: #4ba3d9;
}

#previous_translated_words_wrapper p {
    line-height: 20px;
    margin: 0 0 15px;
}

#previous_translated_words span {
    color: #21b51f;
}

#previous_translated_words em {
    color: #bbbbbb;
}

#remove_words {
    color: #CCCCCC;
    cursor: pointer;
    font-size: 28px;
    margin-top: 15px;
    padding: 5px 0px;
    text-align: center;
    width: 30px;
}

#remove_words span {
    font-size: 24px;
}

#right {
    left: 1000px;
    min-width: 235px;
    padding: 30px 0 0 10px;
    position: absolute;
    top: 0;
}

#translated_words {
    display: none;
}

#middle {
    position: relative;
    padding-bottom: 250px;
}

.open_file {
    background-color: #4ba3d9;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    box-shadow: 0 0 6px #DEDEDE;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    line-height: 20px;
    margin: 26px 0 4px;
    padding: 10px 15px;
    text-align: center;
    width: 90px;
}

.filetypes {
    font-size: 11px;
    line-height: 14px;
    width: 125px;
}

.column {
    float: left;
    width: 35%;
}

#buttons {
    padding: 0 20px 20px 0;
}

.btn {
    padding-right: 40px;
}

#audio_file {
    float: left;
}

#text_file {
    float: right;
}

#player {
    height: 130px;
    margin: 25px 25px 5px;
    position: relative;
    width: 180px;
}

.circle_bg {
    background-color: #ffffff;
    border-radius: 60px;
    box-shadow: 0 0 6px #c6c6c6;
    height: 60px;
    left: 30px;
    padding: 30px;
    position: absolute;
    top: 0;
    width: 60px;
}

.circle {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 40px;
    cursor: pointer;
    font-size: 28px;
    height: 28px;
    left: 50px;
    padding: 22px 24px 28px 26px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 28px;
    color: #AEAEAE;
}

#knob {
    height: 130px;
    left: 30px;
    position: absolute;
    top: 0;
}

#knob input {
    display: none;
}

.jumpback {
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 60px;
    color: #898989;
    cursor: pointer;
    font-size: 14px;
    height: 25px;
    left: 190px;
    line-height: 25px;
    padding: 15px;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 60px;
}

#settings {
    font-size: 13px;
    padding: 20px 10px;
}

#settings select {
    padding: 2px;
    width: 158px;
}

.spacer {
    line-height: 30px;
    margin-bottom: 10px;
    text-align: right;
    max-width: 190px;
}

#bottom {
    background-color: #ffffff;
    border-top: 1px solid #e3e3e3;
    font-size: 14px;
    margin: 0;
    padding: 0 70px;
    position: relative;
}

#instructions {
    padding: 50px 70px 20px;
}

#instructions p {
    font-size: 17px;
    line-height: 28px;
}

.no {
    background-color: #f4f4f4;
    border-radius: 4px;
    color: #848484;
    margin-right: 3px;
    padding: 1px 7px;
}

.r {
    font-style: italic;
}

#support {
    color: #3e3e3e;
    font-size: 13px;
    line-height: 25px;
    padding: 50px 0 10px;
    position: relative;
}

#support .txt {
    float: left;
    padding: 0;
}

.inarrow {
    background-color: #c4c4c4;
    color: #ffffff;
    float: left;
    font-weight: bold;
    line-height: 25px;
    padding: 0 8px;
}

.arrow {
    border-bottom: 12px solid rgba(0, 0, 0, 0);
    border-left: 13px solid #c4c4c4;
    border-top: 12px solid rgba(0, 0, 0, 0);
    float: left;
    height: 0;
    margin-right: 7px;
    width: 0;
}

#btcaddr {
    float: left;
    padding-right: 5px;
}

#qr {
    color: #4ba3d9;
    cursor: pointer;
    float: left;
    padding-right: 5px;
    position: relative;
}

#qrimage {
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #C0C0C0;
    bottom: 30px;
    height: 198px;
    padding: 10px;
    position: absolute;
    right: -26px;
    width: 198px;
    z-index: 999;
}

#share {
    margin: 0;
    padding: 40px 0 70px;
}

#article {
    font-size: 14px;
    line-height: 26px;
    padding: 10px 5px 20px 5px;
}

.share {
    float: left;
    height: 25px;
    padding: 0;
    width: 120px;
}

#links {
    color: #9C9C9C;
    font-size: 13px;
    padding: 40px 70px;
}

#links a {
    color: #4ba3d9;
    text-decoration: none;
}

.my_disqus {
    background-color: white;
    border-bottom: 1px solid #e4e3e3;
    padding: 0 70px 70px;
}

#beta {
    color: #d9d9d9;
    font-size: 22px;
    position: absolute;
    right: 70px;
    top: 25px;
}

#betatext {
    background-color: #939393;
    color: white;
    font-size: 13px;
    line-height: 20px;
    padding: 15px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 50px;
    display: none;
}




/* mobile devices */
@media screen and (max-width: 1100px) {

    #right {
        height: 50px;
        left: 0;
        min-width: 235px;
        padding: 20px 0 0 50px;
        position: relative;
    }

    #previous_translated_words_wrapper {
        display: none;
    }
    
    #left {
        width: 100%;
    }

    #content {
        background-color: #ffffff;
        font-size: 19px;
        line-height: 35px;
        padding: 30px 40px 30px 70px;
    }

    .column {
        min-width: 350px;
    }

    #buttons {
        margin-left: 65px;
        min-width: 330px;
        min-height: 140px;
    }

    #settings {
        min-height: 40px;
        min-width: 500px;
        padding-left: 65px;
    }

    #settings p {
        float: left;
        line-height: 30px;
        margin: 0 2px 0 0;
    }

    .spacer {
        float: left;
        margin: 0 0 0 4px;
    }

    #settings select {
        width: 120px;
    }

    .popup {
        width: 100%;
    }

}

@media screen and (max-height: 600px) {

    #content_wrapper {
        height: 350px;
    }

    .gap {
        height: 1px;
    }

    #envelope {
        padding: 0 0 0 130px;
    }

}

@media screen and (max-width: 1100px) and (min-height: 700px) {

    #content_wrapper {
        height: 560px;
    }
}




.debug {
    padding: 15px 15px 15px 20px;
    color: gray;
}