html, body {
    background-color: #f9f9f9;
    font-family: Arial,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* remove ugly dotted lines around clicked links and buttons in FF */
button::-moz-focus-inner { border: 0; }

/* remove highlight border around selected controls in Chrome and Safari */
* {
    outline: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

#unsupported {
    display: none;
}

img {
    border: none;
}

a {
    color: #4ba3d9;
    text-decoration: none;
}

.pseudolink {
    color: #4ba3d9;
    cursor: pointer;
}

.hidden {
    display: none;
}

.left {
    float: left;
}

h3 {
    color: #c1c1c1;
    font-size: 28px;
    font-weight: normal;
    line-height: 38px;
    margin: 25px 0;
}

h3 i {
    color: #75e600;
}

ul {
    padding: 1px 10px;
}

li {
    list-style-type: square;
}

.clear {
    clear: both;
}

.small {
    font-size: 13px;
}

#left {
    position: relative;
    width: 1000px;
}

#content_wrapper {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E3E3E3;
    box-shadow: 0 10px 10px 0 #999999;
    height: 400px;
    overflow: auto;
    position: relative;
    resize: vertical;
}

.backhome {
    color: silver;
    cursor: pointer;
    font-size: 18px;
    padding: 18px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
}
#back {
    left: 0;
}
#closebook {
    right: 10px;
}

.gap {
    height: 15px;
    width: 100%;
}

#content {
    background-color: #FFFFFF;
    font-family: Times, serif;
    font-size: 24px;
    line-height: 36px;
    padding: 30px 70px;
}

#translated_words {
    font-size: 14px;
}

#translations {
    font-size: 16px;
    padding: 0 20px;
}

#whentoolong {
    color: #4a4a4a;
    height: 20px;
    line-height: 20px;
    padding: 5px 20px;;
}

#googletranslate:visited {
    color: #9d9d9d;
}

#selectedword {
    background-color: #75e600;
    color: #FFFFFF;
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 5px 8px;
}

#translatedword {
    background-color: #4ba3d9;
    color: #FFFFFF;
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 5px 8px;
}

.failed {
    color: red;
    font-weight: bold;
}

#previous_translated_words {
    color: #4ba3d9;
    margin: 0 22px 30px;
    padding: 35px 0 20px;
    position: relative;
}

#previous_translated_words p {
    line-height: 20px;
    margin: 0 0 18px;
}

#previous_translated_words span {
    color: #6bd300;
}

#previous_translated_words em {
    color: #bbbbbb;
}

#right {
    left: 1000px;
    min-width: 235px;
    padding: 50px 0 0 10px;
    position: absolute;
    top: 0;
}

#middle {
    background-color: #f9f9f9;
    box-shadow: 0 10px 10px 0 #999999;
    padding-bottom: 2000px;
    position: relative;
}

.open_file {
    background-color: #ffffff;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    box-shadow: 0 0 6px #DEDEDE;
    color: #444444;
    cursor: pointer;
    font-size: 13px;
    line-height: 20px;
    margin: 26px 0 4px;
    padding: 10px 15px;
    text-align: center;
    width: 90px;
}

.filetypes {
    font-size: 11px;
    line-height: 14px;
    width: 125px;
}

.column {
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#controls {
    position: relative;
    width: 320px;
}

#files {
    padding: 0 5px 0 50px;
    width: 290px;
}

#audio_file {
    float: left;
}

#text_file {
    float: right;
}

#languages {
    font-size: 13px;
    padding: 15px 0 30px 50px;
    width: 210px;
}

#languages select {
    padding: 2px;
    width: 152px;
}

.spacer {
    line-height: 30px;
    margin-bottom: 10px;
    text-align: right;
    max-width: 190px;
}

#player {
    height: 130px;
    margin: 23px 25px 5px;
    position: relative;
    width: 180px;
}

.circle_bg {
    background-color: #ffffff;
    border-radius: 60px;
    box-shadow: 0 0 6px #c6c6c6;
    height: 60px;
    left: 30px;
    padding: 30px;
    position: absolute;
    top: 0;
    width: 60px;
}

.circle {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 40px;
    cursor: pointer;
    font-size: 28px;
    height: 28px;
    left: 50px;
    padding: 22px 24px 28px 26px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 28px;
    color: #AEAEAE;
}

#playbutton {
    height: 130px;
    left: 30px;
    position: absolute;
    top: 0;
}

#jumpback {
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 60px;
    color: #898989;
    cursor: pointer;
    font-size: 20px;
    height: 25px;
    left: 190px;
    line-height: 25px;
    padding: 15px;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 60px;
}

#bottom {
    background-color: #ffffff;
    font-size: 14px;
    margin: 0;
    padding: 0 0 0 45px;
    position: relative;
    z-index: 100;
}

#menu {
    color: #c9c9c9;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

#menu span {
    padding-left: 40px;
}

#instructions {
    margin: 30px 90px 0 70px;
}

#r {
    font-style: italic;
}

#support {
    border-top: 1px solid #e3e3e3;
    color: #3c3c3c;
    font-size: 13px;
    line-height: 25px;
    margin: 0 70px 0 25px;
    padding: 50px 0;
    position: relative;
}

#links {
    border-top: 1px solid #edebeb;
    color: #9c9c9c;
    font-size: 13px;
    padding: 40px 70px;
}

#links a {
    color: #4ba3d9;
    text-decoration: none;
}



/* tracking */

#tracking {
    border-top: 1px solid #e3e3e3;
    color: #aaaaaa;
    font-size: 13px;
    line-height: 26px;
    margin: 0 0 10px;
    padding-left: 25px;
}

#today {
    float: left;
    height: 250px;
    margin: 40px 0 0;
    position: relative;
    width: 540px;
}

#tracking h2 {
    color: #cccccc;
    font-weight: normal;
    margin: 10px 0 20px;
}

#today h2 span {
    color: #4ba3d9;
}

#today_top {
    border-bottom: 1px solid #aaaaaa;
    height: 40px;
    left: 20px;
    position: absolute;
    text-align: center;
    top: 110px;
    width: 145px;
}

#today_bottom {
    height: 50px;
    left: 20px;
    position: absolute;
    text-align: center;
    top: 155px;
    width: 145px;
}


#session_time {
    color: #4ba3d9;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 2px;
}

#set_goal {
    margin-left: 40px;
    width: 60px;
}

.goal_setting {
    cursor: pointer;
    float: left;
    font-size: 16px;
    width: 30px;
}

#today_ratio {
    background-color: #eeeeee;
    height: 170px;
    left: 360px;
    position: absolute;
    top: 70px;
    width: 4px;
}

#ratio {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4px;
    height: 0;
    background-color: #4ba3d9;
}

.rr {
    color: #cccccc;
    float: left;
    font-size: 22px;
    line-height: 26px;
    padding: 22px 0 0;
    position: relative;
}

#record_ratio {
    color: #4ba3d9;
}

.darker {
    color: #9f9f9f;
}

.black {
    color: black;
}

#ratio_audio_time {
    background-color: white;
    color: #cdcdcd;
    font-size: 12px;
    font-style: italic;
    right: 12px;
    line-height: 15px;
    position: absolute;
    text-align: right;
    top: -14px;
    width: 130px;
}

#audio_time {
    color: #4ba3d9;
    font-weight: bold;
    font-style: normal;
}

#session_time_small {
    font-weight: bold;
    font-style: normal;
}

#ratio_audio_time_percent {
    background-color: white;
    color: #4ba3d9;
    font-size: 30px;
    position: absolute;
    left: 12px;
    top: -12px;
}

#higher_than_ever {
    font-size: 15px;
    left: -90px;
    position: absolute;
    text-align: center;
    top: -40px;
    width: 180px;
}

#higher_than_ever i {
    color: #ffd300;
    font-size: 16px;
}

#total {
    float: left;
    height: 250px;
    margin: 40px 25px 40px 0;
    position: relative;
    width: 280px;
}

.total {
    color: #cccccc;
    font-size: 22px;
    line-height: 26px;
    padding: 20px 0 0;
}

.total span {
    color: #4ba3d9;
}

#idle {
    background-color: white;
    border-left: 1px solid #e3e3e3;
    border-radius: 0 20px 0 0;
    border-right: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    color: #d7d7d7;
    cursor: pointer;
    font-size: 16px;
    height: 300px;
    left: 0;
    padding: 10px 15px 14px;
    position: absolute;
    text-align: center;
    top: 125px;
    z-index: 99;
}



/* FAQ */

.go_to_faq {
    color: #75e600;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
}

#faq {
    border-top: 1px solid #e3e3e3;
    margin: 0 70px 0 25px;
    padding: 30px 0 60px;
}

.faq p {
    color: #3c3c3c;
    font-size: 15px;
    line-height: 28px;
}



/* VIDEO */

#video {
    position: relative;
    width: 710px;
}

#videofile {
    border: 1px solid #dedede;
}

#videocover {
    height: 420px;
    margin: 1px;
    position: absolute;
    width: 710px;
}

#videostart {
    background-color: #4ba3d9;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 40px;
    height: 40px;
    left: 300px;
    line-height: 40px;
    padding: 15px 30px 15px 39px;
    position: absolute;
    text-align: center;
    top: 165px;
    width: 40px;
    z-index: 99;
}

#videoafter {
    background-color: white;
    color: #6a6a6a;
    font-size: 20px;
    left: 2px;
    position: absolute;
    text-align: center;
    top: 130px;
    width: 708px;
}

#videoreplay {
    color: #dddddd;
    font-size: 50px;
    padding-top: 80px;
}

#videoreplay i {
    cursor: pointer;
}

#videothanks {
    color: #9f9f9f;
    font-size: 11px;
    padding: 4px;
    text-align: right;
    width: 700px;
}

#textinstructions {
    display: none;
}

#textinstructions li {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 15px;
}



/* mobile devices */
@media screen and (max-width: 1300px) {

    .helpcrunch-label {
        display: none !important;
    }
}

@media screen and (max-width: 1100px) {

    #right {
        height: 60px;
        left: 0;
        min-width: 235px;
        padding: 15px 0 0 50px;
        position: relative;
    }

    #translations {
        padding: 6px 20px 50px;
    }

    #whentoolong {
        padding: 9px 20px 50px;
    }

    #previous_translated_words {
        display: none;
    }
    
    #left {
        min-width: 510px;
        width: 100%;
    }

    #content_wrapper {
        box-shadow: 0 0 8px #999999;
    }

    .popup {
        width: 100%;
    }

    #video {
        display: none;
    }

    #textinstructions {
        display: block;
    }

    .helpcrunch-status-bar {
        top: 10px !important;
        bottom: auto !important;
        position: absolute !important;
    }

}

@media screen and (max-width: 950px) {

    #files {
        padding: 0 5px 15px 78px;
    }

    #languages {
        padding: 20px 0 20px 75px;
        width: 600px;
    }

    #languages p {
        float: left;
        line-height: 30px;
        margin: 0;
    }

    #languages .spacer {
        float: left;
    }

    #languages select {
        width: 118px;
    }

    #today {
        width: 440px;
    }

    #today_ratio {
        left: 320px;
    }

    #ratio_audio_time {
        width: 125px;
    }

    .mobilehide {
        display: none;
    }

}

@media screen and (max-width: 670px) {

    #languages {
        width: 310px;
    }

    #content {
        font-size: 19px;
        line-height: 35px;
        padding: 30px 60px;
    }

    #right {
        padding: 15px 0 0 40px;
    }

    .helpcrunch-status-bar {
        display: none !important;
    }

}