html, body {
    background-color: #f9f9f9;
    font-family: Arial,sans-serif;
    height: 100%;
    margin: 0;
    min-height: 500px;
    min-width: 1250px;
    padding: 0;
}

/* remove ugly dotted lines around clicked links and buttons in FF */
a { outline: none; }
button::-moz-focus-inner { border: 0; }

/* remove highlight border around selected form controls in Chrome and Safari */
*:focus { outline: none; }

#unsupported {
    display: none;
}

a {
    color: #4ba3d9;
    text-decoration: none;
}

.pseudolink {
    color: #4ba3d9;
    cursor: pointer;
}

h1 {
    color: #4ba3d9;
    font-family: "Roboto",arial,sans-serif;
    font-size: 38px;
    font-weight: 300;
    margin: 10px 0 40px;
}

h3 {
    color: #ababab;
    font-size: 28px;
    font-weight: normal;
    margin: 10px 0;
}

ul {
    padding: 10px;
}

li {
    list-style-type: square;
}

.clear {
    clear: both;
}

.small {
    font-size: 13px;
}

.georgia {
    font-family: georgia,arial,sans-serif;
}

#top {
    position: relative;
}

#warning {
    color: #F80000;
    font-size: 14px;
    height: 18px;
    padding: 5px 0 7px 70px;
    display: none;
}


#warning span {
    color: #000000;
    font-size: 12px;
}

#left {
    box-shadow: 0 0 12px #3c3c3c;
    float: left;
    height: 100%;
    position: relative;
    width: 1000px;
}

#content_wrapper {
    background-color: #FFFFFF;
    height: 100%;
    overflow: auto;
    position: relative;
}

#backhome {
    position: absolute;
    padding: 18px;
    font-size: 20px;
    color: silver;
    cursor: pointer;
    left: 0;
    top: 0;
    display: none;
}

.gap {
    height: 15px;
    width: 100%;
}

.others {
    font-size: 13px;
    margin: 0;
    padding: 15px 30px;
}

#content {
    background-color: #FFFFFF;
    font-family: Times, serif;
    font-size: 24px;
    line-height: 36px;
    padding: 30px 70px;
    text-align: justify;
    display: none;
}

#translation_wrapper {
    min-height: 60px;
}

#translations {
    padding: 0 20px;
    display: none;
}

#whentoolong {
    display: none;
    height: 20px;
    padding: 5px 20px;
    line-height: 20px;
    font-size: 13px;
}

#selectedword {
    background-color: #21b51f;
    color: #FFFFFF;
    float: left;
    height: 20px;
    padding: 5px 8px;
}

#arrowright {
    border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-left: 15px solid #21b51f;
    border-top: 15px solid rgba(0, 0, 0, 0);
    float: left;
    height: 0;
    width: 0;
    margin-right: 5px;
}

#translatedword {
    background-color: #4ba3d9;
    color: #FFFFFF;
    float: left;
    height: 20px;
    padding: 5px 8px;
}

.failed {
    color: red;
    font-weight: bold;
}

#previous_translated_words_wrapper {
    padding: 5px 22px;
    position: relative;
    font-size: 13px;
    color: #4ba3d9;
}

#previous_translated_words_wrapper p {
    line-height: 20px;
    margin: 0 0 8px;
}

#previous_translated_words span {
    color: #21b51f;
}

#previous_translated_words em {
    color: #bbbbbb;
}

#remove_words {
    color: #CCCCCC;
    cursor: pointer;
    font-size: 28px;
    margin-top: 15px;
    padding: 5px 0px;
    text-align: center;
    width: 30px;
}

#remove_words span {
    font-size: 24px;
}

#right {
    left: 1000px;
    min-width: 235px;
    padding: 30px 0 0 10px;
    position: absolute;
    top: 0;
}

#translated_words {
    display: none;
}

.open_file {
    background-color: #4ba3d9;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    box-shadow: 0 0 6px #DEDEDE;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    line-height: 20px;
    margin: 26px 0 4px;
    padding: 10px 15px;
    text-align: center;
    width: 82px;
}

.filetypes {
    font-size: 12px;
    padding-left: 5px;
}

.column {
    min-width: 200px;
    float: left;
    width: 35%;
}

#buttons {
    padding: 5px 20px 20px 0;
}

.btn {
    padding-right: 40px;
}

#text_file {
    float: right;
}

#settings {
    font-size: 13px;
    padding: 20px 10px 0 20px;
}

#settings select {
    margin-bottom: 10px;
    padding: 2px;
    width: 140px;
}

#settings .highlighed {
    background-color: #EAEAEA;
    padding: 0 2px;
}

.spacer {
    display: block;
    float: left;
    line-height: 30px;
    width: 40px;
}

#instructions {
    padding: 50px 70px 20px;
}

#instructions p {
    font-size: 17px;
    line-height: 28px;
}



/*#jumpback span {
    font-size: 18px;
}*/

.debug {
    padding: 15px 15px 15px 20px;
    color: gray;
}