body {
    font-family: arial,sans-serif;
}

a {
    text-decoration: none;
}

#backhome {
    color: silver;
    display: block;
    font-size: 18px;
    padding: 18px;
    width: 100px;
}

h1 {
    color: #9d9d9d;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 50px;
}

p {
    font-size: 14px;
    margin: 50px 0;
}

#myvideo {
    margin: 20px auto 95px;
    padding: 0 10px;
    width: 710px;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}


/* animation */

#animation {
    border: 1px solid #bebebe;
    color: #484848;
    height: 420px;
    position: relative;
    width: 100%;
}

#startvideo {
    border: 1px solid #dddddd;
    border-radius: 100px;
    color: #dddddd;
    cursor: pointer;
    font-size: 60px;
    height: 60px;
    left: 290px;
    line-height: 60px;
    padding: 30px 25px 30px 35px;
    position: absolute;
    text-align: center;
    top: 140px;
    width: 60px;
    z-index: 99;
}

#simulation {
    background-color: #f9f9f9;
    overflow: hidden;
    position: relative;
}

#cursor {
    position: absolute;
    top: 150px;
    left: 350px;
    z-index: 999;
    display: none;
}

.info {
    background-color: #7ecf00;
    border-radius: 6px;
    color: white;
    font-size: 32px;
    position: absolute;
    z-index: 99;
    padding: 8px 20px;
}

#i_1, #i_2, #i_3, #i_4, #i_5, #i_6, #i_7, #i_8, #i_9, #i_10, #i_11, #i_12 {
    left: 40px;
    top: 35px;
}

#i_13 {
    left: 140px;
    top: 175px;
}

#i_14 {
    left: 40px;
    top: 175px;
}

#i_15 {
    right: 35px;
    top: 150px;
}

#i_16 {
    left: 135px;
    top: 150px;
}

#i_25 a {
    background-color: #7ecf00;
    color: white;
    padding: 8px 20px;
    border-radius: 6px;
}

.infoend {
    color: #7ecf00;
    font-size: 32px;
    line-height: 45px;
    padding: 100px 50px 0;
    text-align: center;
}

#left {
    box-shadow: 0 10px 10px 0 #999999;
    width: 560px;
}

#top {
    background-color: white;
    border-bottom: 1px solid #e3e3e3;
    height: 330px;
    width: 100%
}

#bottom {
    background-color: #f9f9f9;
    height: 89px;
    position: relative;
    width: 100%;
}

#play, #pause {
    background-color: white;
    border: 1px solid #cdcdcd;
    border-radius: 31px;
    color: #aeaeae;
    height: 15px;
    left: 35px;
    line-height: 15px;
    padding: 20px 17px 20px 23px;
    position: absolute;
    text-align: center;
    top: 12px;
    width: 15px;
}

#jumpback {
    background-color: white;
    border: 1px solid #cdcdcd;
    border-radius: 31px;
    color: #aeaeae;
    left: 105px;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: 14px;
    width: 42px;
}

.button {
    background-color: #4ba3d9;
    border: 1px solid #4ba3d9;
    border-radius: 4px;
    color: white;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 60px;
}

.button.selected {
    background-color: #ffffff;
    border-color: #cdcdcd;
    color: #565656;
}

#audiofile {
    left: 185px;
}

#textfile {
    left: 285px;
}

#clickedwords {
    font-size: 11px;
    left: 400px;
    position: absolute;
    top: 7px;
}

.selectorlabel {
    font-size: 12px;
    left: 400px;
    line-height: 20px;
    position: absolute;
    text-align: right;
    width: 35px;
}

#from {
    top: 26px;
}

#to {
    top: 54px;
}

.selector {
    background-color: white;
    border: 1px solid #cdcdcd;
    color: #252525;
    font-size: 12px;
    left: 439px;
    line-height: 20px;
    padding-left: 10px;
    position: absolute;
    width: 62px;
}

#fromlang {
    top: 26px;
}

#tolang {
    top: 54px;
}

#filebox {
    border: 1px solid #BEBEBE;
    border-radius: 8px;
    height: 223px;
    left: 135px;
    position: absolute;
    top: 60px;
    width: 58%;
    z-index: 99;
}

#fileboxtop {
    background-color: #d9d9d9;
    border-radius: 6px 6px 0 0;
    height: 25px;
    margin-bottom: 10px;
    width: 100%;
}

#fileboxbottom {
    background-color: #f9f9f9;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #dadada;
    bottom: 0;
    height: 50px;
    position: absolute;
    width: 100%;
}

.filebox_btn {
    background-color: #ffffff;
    border: 1px solid silver;
    border-radius: 4px;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 58px;
}
#open {
    right: 20px;
}
#cancel {
    right: 90px;
}

.file {
    font-size: 13px;
    padding: 5px 20px;
}
#selected_audio, #selected_text {
    color: white;
    background-color: #4ba3d9;
}

#text {
    padding: 34px 42px;
}

#text p {
    font-family: Times,serif;
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 20px;
}

#right {
    left: 580px;
    position: absolute;
    top: 30px;
}

.word {
    color: white;
    float: left;
    font-size: 14px;
    padding: 4px 8px;
}

#to_translate {
    background-color: #75e600;
}

#translated {
    background-color: #4ba3d9;
}

#replay {
    bottom: 0;
    color: #dcdcdc;
    cursor: pointer;
    font-size: 25px;
    left: 0;
    line-height: 25px;
    padding: 15px;
    position: absolute;
    width: 25px;
}

#thanks {
    color: #9f9f9f;
    font-size: 11px;
    padding: 4px;
    text-align: right;
}

#thanks a {
    color: #4ba3d9;
}