body {
    font-family: Arial,sans-serif;
}

/* remove ugly dotted lines around clicked links and buttons in FF */
button::-moz-focus-inner { border: 0; }

/* remove highlight border around selected controls in Chrome and Safari */
* {
    outline: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

h1 {
    border-bottom: 1px solid silver;
    color: #9d9d9d;
    font-size: 28px;
    font-weight: normal;
    line-height: 35px;
    margin: 0 0 20px;
    padding: 0 0 20px;
}

#backhome {
    color: #4ba3d9;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 50px 20px;
    padding: 18px;
    width: 100px;
}

#demos {
    font-size: 14px;
    line-height: 30px;
    max-width: 750px;
    padding: 20px 70px 400px;
}

a {
    color: #71ba00;
    text-decoration: none;
}

.lang_title {
    color: #c1c1c1;
    font-size: 28px;
    font-weight: normal;
    line-height: 38px;
    padding: 0 0 20px;
    width: 270px;
}

.lang_demos {
    min-width: 500px;
    padding-bottom: 30px;
}

.demo {
    color: #4ba3d9;
    display: block;
    font-size: 14px;
    margin: 0 4px 4px 0;
    padding: 5px 0 10px;
}

.thanks {
    color: #555454;
    font-size: 13px;
    font-style: italic;
    padding: 5px 0;
}

h3 {
    color: #c1c1c1;
    font-size: 28px;
    font-weight: normal;
    line-height: 38px;
    margin: 25px 0;
}

.gap {
    height: 15px;
    width: 100%;
}

#shortcuts {
    line-height: 35px;
    margin-bottom: 60px;
}