html, body {
    background-color: #F9F9F9;
    font-family: Verdana,Arial,sans-serif;
    margin: 0;
    padding: 15px 20px;
}

/* remove ugly dotted lines around clicked links and buttons in FF */
a { outline: none; }
button::-moz-focus-inner { border: 0; }

/* remove highlight border around selected form controls in Chrome and Safari */
*:focus { outline: none; }

a {
    color: #24CC00;
    text-decoration: none;
}

p {
    font-size: 14px;
    line-height: 26px;
}

h2 {
    color: #B7B7B7;
    font-size: 26px;
    font-weight: normal;
    margin: 10px 0;
}

.gray {
    color: #9C9C9C;
}

#content {
    padding: 5px 40px 30px;
    width: 820px;
}

.r {
    color: gray;
}

#donate {
    padding: 20px 0 30px;
}

#share {
    height: 24px;
    padding: 20px 0;
    width: 400px;
}

.share {
    float: left;
    height: 25px;
    padding: 0;
    width: 110px;
}

.share .icon {
    background-color: #FFA900;
    border: 1px solid #FFA900;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 17px;
    line-height: 16px;
    padding: 1px;
    text-align: center;
    width: 17px;
}

.share .text {
    border: 1px solid #FFA900;
    color: #FFA900;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 14px;
    line-height: 18px;
    padding: 0 6px 5px 4px;
}