html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
}

/* remove ugly dotted lines around clicked links and buttons in FF */
a { outline: none; }
button::-moz-focus-inner { border: 0; }

/* remove highlight border around selected form controls in Chrome and Safari */
*:focus { outline: none; }

.popupcontent {
    width: 800px;
    padding: 10px 30px;
}

h2 {
    color: #FFA900;
    font-weight: normal;
}

p {
    font-size: 14px;
    line-height: 26px;
}

#r {
    color: gray;
}